<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!--js sequence
<script src="/_diagram/underscore/underscore-min.js"></script>
<script src="/_diagram/snap.svg/dist/snap.svg-min.js"></script>
<script src="/_diagram/underscore/underscore-min.js"></script>
<script src="/_diagram/js-sequence-diagrams/dist/sequence-diagram-min.js"></script>
-->

<!-- mermaid for diagram -->
<!-- Way to local : <script src="/mermaid/mermaid.min.js"></script> -->
<!-- Way to site : <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.5.0/mermaid.min.js"></script>
from https://www.cdnpkg.com/mermaid/file/mermaid.min.js/?id=54484 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.5.0/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>

<!-- favicon -->
<LINK REL="SHORTCUT ICON" HREF="/assets/ico/9u.ico" />

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>


<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
	<script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
